.settings-container {
  padding: 60px 120px 0px 120px;
}

.label-container {
  display: inline-block;
  margin-right: 150px;
  width: 100px;
}

.input-container {
  display: inline-block;
  margin-right: 150px;
  width: 320px;
}

.button-container {
  display: inline-block;
}

.form-alignment {
  display: flex !important;
  align-items: center !important;
}

.form-container {
  margin-bottom: 50px;
}

.button-width {
  width: 100px;
}

.category-list-container {
  width: 400px;
}

.toast-postion {
  position: absolute;
  bottom: 3rem;
  left: 11rem;
}
